@if (showDetails()) {
  <img class="rounded-md" [src]="trip().imageUrl" [alt]="trip().title"/>
} @else {
  <img class="rounded-md min-w-[200px]" [src]="trip().thumbnailUrl" [alt]="trip().title"/>
}
<div class="flex grow flex-col gap-4">
  <h2 class="font-semibold text-cyan-900 text-2xl">{{trip().title}}</h2>
  @if (showDetails()) {
    <p class="text-cyan-900">{{trip().description}}</p>
    <p>
      @for (tag of tripTags(); track tag) {
        <span class="px-2 py-1 rounded-md bg-slate-100 mr-2">{{tag}}</span>
      }
    </p>
  }
  <p class="text-cyan-900">
    Vertical type:
    <span class="px-2 py-1 rounded-md bg-cyan-500 text-slate-100 ml-2">{{trip().verticalType}}</span>
  </p>
  <p class="text-cyan-900">
    Rating:
    <span class="px-2 py-1 rounded-md bg-amber-300">{{trip().rating}}</span>
    <em class="ml-1 font-light">({{trip().nrOfRatings}})</em>
  </p>
  <p class="text-cyan-900">
    CO<sub>2</sub> emissions:
    <span
      class="px-2 py-1 rounded-md"
      [class.bg-green-300]="trip().co2 <= 200"
      [class.bg-red-300]="trip().co2 > 200"
    >{{trip().co2}} t</span>
  </p>
</div>
<div class="flex flex-col gap-4 items-end">
  @if (trip() | scoreBadge; as tripScore) {
    <span
      class="px-2 py-1 rounded-md text-lg"
      [class.bg-green-300]="tripScore.score >= 80"
      [class.text-green-900]="tripScore.score >= 80"
      [class.bg-sky-300]="tripScore.score >= 60 && tripScore.score < 80"
      [class.text-sky-900]="tripScore.score >= 60 && tripScore.score < 80"
      [class.bg-amber-300]="tripScore.score < 60"
      [class.text-amber-900]="tripScore.score < 60"
    >{{tripScore.score / 10}} {{tripScore.tier}}</span>
  }
  <p class="text-cyan-900 font-bold text-sm text-end">
    Created at:
    <em class="ml-1 font-light">{{trip().creationDate | date: 'MMM dd, y'}}</em>
  </p>
  <p class="text-cyan-900 font-bold text-lg text-end">{{trip().price | currency}}</p>
</div>
